---

---

<section
  class="art_gallary bg-black bg-[url('/images/noise.51a05f55.png')] pt-10"
>
  <div class="container">
    <div class="art_gallary_intro text-center">
      <h2 class="text-5xl font-semibold">Welcome to Art Gallary!</h2>
      <p class="text-3xl italic pt-5">
        These are some the artworks that i worked on, hope you like them
      </p>
    </div>
  </div>

  <div class="art_gallary grid sm:grid-cols-2 lg:grid-cols-4 pt-10">
    <div class="h-full w-full">
      <img class="object-cover" src="/images/01.webp" alt="" />
    </div>
    <div class="h-full w-full">
      <img src="/images/02.webp" alt="" />
    </div>
    <div class="h-full w-full">
      <img src="/images/03.webp" alt="" />
    </div>
    <div class="h-full w-full">
      <img src="/images/04.webp" alt="" />
    </div>
    <div class="h-full w-full">
      <img src="/images/05.webp" alt="" />
    </div>
    <div class="h-full w-full">
      <img src="/images/06.webp" alt="" />
    </div>
    <div class="h-full w-full">
      <img src="/images/07.webp" alt="" />
    </div>
    <div class="h-full w-full">
      <img src="/images/08.webp" alt="" />
    </div>
    <div class="h-full w-full">
      <img src="/images/09.webp" alt="" />
    </div>
    <div class="h-full w-full">
      <img src="/images/10.webp" alt="" />
    </div>
    <div class="h-full w-full">
      <img src="/images/11.webp" alt="" />
    </div>
    <div class="h-full w-full">
      <img src="/images/12.webp" alt="" />
    </div>
    <div class="h-full w-full col-span-2">
      <img class="w-full h-full object-cover" src="/images/13.webp" alt="" />
    </div>
    <div class="h-full w-full col-span-2">
      <img class="w-full h-full object-cover" src="/images/14.webp" alt="" />
    </div>
    <div class="h-full w-full">
      <img src="/images/15.webp" alt="" />
    </div>
    <div class="h-full w-full">
      <img src="/images/16.webp" alt="" />
    </div>
    <div class="h-full w-full">
      <img src="/images/17.webp" alt="" />
    </div>
    <div class="h-full w-full">
      <img src="/images/18.webp" alt="" />
    </div>
    <div class="h-full w-full col-span-2">
      <img src="/images/19.webp" alt="" />
    </div>
    <div class="h-full w-full col-span-2">
      <img class="h-full object-cover" src="/images/20.webp" alt="" />
    </div>
  </div>
</section>

<style></style>
