---

---

<header
  class="banner_section relative py-20 h-100vh sm:h-auto sm:pb-7 lg:h-[100vh] flex items-center justify-center"
>
  <div class="w-10/12 sm:w-[90%] lg:w-[80%] mx-auto">
    <div class="banner_inner py-4 w-1/2 text-left">
      <h1 class="text-5xl sm:text-4xl lg:text-8xl font-black uppercase italic">
        <span class="text-red-700">Hey!</span> Welcome to my Portfolio
      </h1>
      <p class="pt-6 text-2xl sm:text-2xl md:text-2xl lg:text-3xl">
        Unlocking Imagination Through Pixels and Polygons: Where creativity
        meets precision, my brother's mastery of 3D art and graphic design
        elevates visual storytelling to new heights. With an eye for detail and
        a passion for innovation, he brings dreams to life in a realm where
        imagination knows no bounds. Explore a world where reality bends to the
        will of pixels, and every design tells a captivating story.
      </p>
    </div>
  </div>
  <div class="video-container">
    <video src="./videos/bg-1.mp4" autoplay loop muted></video>
  </div>
</header>

<style>
  header .video-container {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }
  header .video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  header .video-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.82);
  }
</style>
