<footer class="py-10 bg-black border-t border-t-neutral-800">
  <div class="container mx-auto px-5 flex items-center justify-between">
    <div class="logo-container w-32">
      <img class="invert w-full" src="/local_imgs/Logo.png" alt="" />
    </div>
    <ul class="flex items-center gap-4">
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.instagram.com/jimit_vala.blend"
        >
          Instagram
        </a>
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/jimit-vala"
        >
          LinkedIn
        </a>
      </li>
    </ul>
  </div>
</footer>
