@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@font-face {
  font-family: "Airnt";
  src: url("../src/assets/fonts/Airnt.otf");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Airnt", sans-serif;
  color: #fff;
}
p,
button,
a {
  font-family: "DM Sans", sans-serif;
}
